.container-fluid {
  background-color: #02694e;
}

.header-container {
  padding: 20px 0 20px 0;
}

.header-logo-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 700px) {
  .header-logo-container {
    flex-direction: column;
  }
}


.header-logo-img {
  height: 50px;
  max-width: 205px;
  padding-right: 20px;
}

#header-text {
  color: #ffffff;
  /* text-align: left;
  /* margin-left: 20px; */
  font-size: 32px;
  letter-spacing: var(--unnamed-character-spacing-0);
}
