<footer class="tnc" id="global-footer">
  <div class="container">
    <div class="row">
      <section
        id="footer-bottom"
        class="col-12 d-block d-md-flex"
        aria-label="OHIO Disclosure Statements"
      >
        <a
          class="footer-logo"
          href="https://www.ohio.edu/"
          title="Ohio University Home Page"
        >
          <img src="../../assets/images/logo-white.svg" alt="Ohio University" />
        </a>
        <ul id="disclosures">
          <li>
            <a
              class="adaLink"
              href="https://www.ohio.edu/accessibility/notice-under-ada"
              >ADA Compliance</a
            >
          </li>
          <li>
            <a
              class="titleIXlink"
              href="https://www.ohio.edu/equity-civil-rights"
              >Title IX Coordinator</a
            >
          </li>
          <li>
            <a
              href="https://www.ohio.edu/provost/accreditation/state-authorization"
              >State Authorization</a
            >
          </li>
          <li>
            <a
              class="nonDiscrimLink"
              href="https://www.ohio.edu/equity-civil-rights/non-discrimination"
              >Notice of Non-Discrimination</a
            >
          </li>
          <li>
            <a class="employLawLink" href="https://www.ohio.edu/hr/law-notices"
              >Employment Law Notices</a
            >
          </li>
          <li>
            <a href="https://www.ohio.edu/privacy-statement"
              >Privacy Statement</a
            >
          </li>
        </ul>
      </section>
      <section
        id="copyright-social"
        class="copyright"
        aria-label="Website copyright notice and social media links"
      >
        <p>
          © 2021
          <a href="https://www.ohio.edu" title="Ohio University"
            >Ohio University</a
          >. All rights reserved.
        </p>
        <ul id="footer-social">
          <li>
            <a
              href="http://www.facebook.com/OhioUniversity/"
              title="Connect with Ohio University on Facebook"
              aria-label="Connect with Ohio University on Facebook"
              ><i class="fa fa-facebook" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a
              href="http://twitter.com/ohiou/"
              title="Follow Ohio University on Twitter"
              aria-label="Follow Ohio University on Twitter"
              ><i class="fa fa-twitter" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/ohio.university/"
              title="Check out Ohio University on Instagram"
              aria-label="Check out Ohio University on Instagram"
              ><i class="fa fa-instagram" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a
              href="http://www.youtube.com/ohiouniv/"
              title="Check out Ohio University on YouTube"
              aria-label="Check out Ohio University on YouTube"
              ><i class="fa fa-youtube" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.ohio.edu/news/feeds/latest-stories"
              title="Ohio University News RSS"
              aria-label="Ohio University News RSS"
              ><i class="fa fa-rss" aria-hidden="true"></i
            ></a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</footer>
