<div class="container-fluid">
  <div class="row header-grey-status-bar">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
      <div id="line-chart-container" class="vis-container">Home</div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-1 initiative-text"></div>
    <div class="col-sm-8 initiative-text box-content">
      <h2>The OHIO Speed Initiative</h2>
      <div id="text-container">
        <p>
          The purpose of this aplication is to establish interenet connectivitiy
          data points for Ohio Residents. Collected will be used to evaludate
          interenet service provider reliability, costs, and performance
        </p>
        <p>
          Those that do not have interenet are encouraged to fill out the form
          provided. THis information will help understand interenet demand and
          intent of users who do not have interenet.
        </p>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-8 box-content"><h3>Do you have interest?</h3></div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
      <button class="btn btn-solid">I have interenet</button>
      <button class="btn btn-frame">I do not have interenet</button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-8 box-content"><h3>Service Map</h3></div>
  </div>
</div>
